{% extends 'base.html.twig' %}

{% block title %}
	Hello HomeController!
{% endblock %}

{% block body %}
	<div class="jumbotron text-center">
		<h1>Agence lorem ipsus</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, officia? Eius eveniet neque culpa! Velit voluptas perspiciatis sapiente ullam ab vel explicabo in dignissimos, libero voluptatibus obcaecati dolores. Earum, suscipit!</p>
	</div>

	<div class="container">
		<h2>Les derniers biens (disponibles)</h2>
		<div class="row flex">
			{% for property in properties %}
				<div class="col-3">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('property.show',{id: property.id, slug:property.slug})}}">
									{{property.title}}
								</a>
							</h5>
							<p class="card-text">
								{{property.city}}
								({{property.postaleCode}})
							</p>
							<div class="text-primary">
								{{property.formattedPrice }}
								€
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
