{% extends 'base.html.twig' %}

{% block title 'Gérer les biens' %}

{% block body %}
	<div class="container mt-4">
		<h1>Gérer les Agréments</h1>
		{% for message in app.flashes('sucess') %}
			<div class="alert alert-success">
				{{message}}
			</div>
		{% endfor %}

		<table class="table table-stripped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nom</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for specificity in specificities %}
					<tr>
						<td>{{specificity.id}}</td>
						<td>{{specificity.name}}</td>
						<td>
							<a href="{{path('admin.specificity.edit',{id: specificity.id})}}" class="btn btn-danger">Supprimer</a>
							<a href="{{path('admin.specificity.delete',{id: specificity.id})}}" class="btn btn-danger">Supprimer</a>

						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{path('admin.specificity.create')}}" class="btn btn-secondary">Nouveau</a>

	</div>


{% endblock %}
