{% extends 'base.html.twig' %}

{% block title 'Gérer les biens' %}

{% block body %}
	<div class="container mt-4">
		<h1>Gérer les biens</h1>
		{% for message in app.flashes('sucess') %}
			<div class="alert alert-success">
				{{message}}
			</div>
		{% endfor %}

		<table class="table table-stripped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Titre</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for property in properties %}

					<tr>
						<td>{{property.id}}</td>
						<td>{{property.title}}</td>
						<td>
							<a href="{{path('property.show',{id: property.id, slug:property.slug})}}" class="btn btn-secondary">Voir</a>
							<a href="{{path('admin.property.edit',{id: property.id})}}" class="btn btn-secondary">Éditer</a>
							<a href="{{path('admin.property.delete',{id: property.id})}}" class="btn btn-danger">Supprimer</a>

						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{path('admin.property.create')}}" class="btn btn-secondary">Nouveau</a>

	</div>


{% endblock %}
