{% extends 'base.html.twig' %}

{% block title %}
	Voir tous nos biens
{% endblock %}

{% block body %}
	<div class="jumbotron">
		<div class="container">
			{{form_start(formSearch)}}
			<div class="form-row">
				<div class="col">
					<div class="form_row">
						{{form_row(formSearch.minSurface)}}
					</div>
				</div>
				<div class="col">
					<div class="form_row">
						{{form_row(formSearch.maxPrice)}}
					</div>
				</div>
				<div class="col">
					<div class="form_row">
						{{form_row(formSearch.specificities)}}
					</div>
				</div>
				<div class="col">
					<div class="form_row">
						<button class="btn btn-primary" type="submit">Chercher</button>
					</div>
				</div>
			</div>
			{{form_end(formSearch)}}
		</div>
	</div>
	<div class="container mt-4">
		<h1>Voir tous nos biens</h1>
		<div class="row">
			{% for property in properties %}
				<div class="col-md-4">
					{% include "property/_property.html.twig" %}
				</div>
			{% endfor %}
		</div>
		<div class="pagination">
			{{ knp_pagination_render(properties) }}

		</div>
	</div>
{% endblock %}
