{% extends 'base.html.twig' %}

{% block title property.title %}

{% block body %}
	<div class="jumbotron">
		<div class="contrainer">
			<div class="row">
				<div class="col-md-8">
					{% if property.filename %}
						<img src="{{vich_uploader_asset(property,"imageFile")| imagine_filter('medium') }}" alt="" class="card-img-top" style="width: 100%;height:auto;">
					{% endif %}

				</div>

				<div class="col-md-4">
					<h1>{{property.title}}</h1>
					<h2>{{property.rooms}}pièces -{{property.surface}}m²</h2>
					<div class="primary-text">
						{{property.formattedPrice}}
						€
					</div>
					<a href="#" class="btn btn-primary">Contacter l'agence</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container mt-4">
		<nav class="nav nav-tabs" id="tab"></nav>


		<div class="row">
			<div class="col-md-8">
				<h2>Caractéristiques</h2>
				<table class="table-striped">
					<tr>
						<td>Surface Habitable</td>
						<td>{{property.surface}}
							m²</td>
					</tr>
					<tr>
						<td>Pièces</td>
						<td>{{property.rooms}}</td>
					</tr>
					<tr>
						<td>Chambres</td>
						<td>{{property.bedrooms}}
						</td>
					</tr>
					<tr>
						<td>Étage</td>
						<td>
							{{property.floor}}
						</td>
					</tr>
					<tr>
						<td>
							Chauffage
						</td>
						<td>
							{{property.heatType}}
						</td>
					</tr>
				</table>
			</div>
			<div class="col-md-4">
				<h2>Spécificités</h2>
				<ul class="list-group">
					{% for option in property.options %}
						<li class="list-group-item">
							{{ option }}
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="row m">
			<div class="col-md-12">
				<h3 class="mt-3">Description</h3>
				<p>
					{{property.description | nl2br}}
				</p>
			</div>
		</div>

	</div>

{% endblock %}
